.faq-section {
  margin: 40px 0px;
}
.faq-section .title {
  margin-bottom: 16px;
  color: var(--secondary-bg);
  font-size: 1.7rem;
  font-weight: 600;
}
.faq-section p {
  margin-bottom: 30px;
  color: var(--p-text2);
}

.accordion-wrapper {
  .accordion {
    .accordion-header {
      .accordion-button:not(.collapsed) {
        color: var(--text-normal-color);
        background: var(--primary-bg);

        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}
.enquiry-btn {
  padding: 12px 16px;
  border-radius: 8px;
  border: none;
  background: #aa4a44;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;
}
.enquiry-btn:hover {
  background: #1c4370;
}
.accordion-button {
  display: flex;
  align-items: center; /* vertically center Q and title */
  gap: 12px; /* space between circle and text */
  padding: 12px 16px;
}
.question-mark {
  flex: 0 0 32px; /* fixed width */
  height: 32px;
  background-color: var(--secondary-bg);
  color: #fff;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 0.875rem;
  text-align: center;
}
@media (max-width: 767px) {
  .accordion-header {
    padding: 8px !important;
  }
  .accordion-item {
    margin: 8px 0px;
  }
}
