.chairperson-card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  background-color: transparent;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}

.chairperson-image {
  position: relative;
  width: 300px;
  height: 360px;
  @media screen and (max-width: 1200px) {
    width: 340px;
    height: 360px;
  }
  @media screen and (max-width: 767px) {
    width: 280px;
    height: 360px;
  }
  @media screen and (max-width: 575px) {
    width: 220px;
    height: 280px;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 5px double rgb(28 67 112 / 12%);
    border-radius: 20px;
    transition: all 1s ease-in-out;
    padding: 5px;
    [data-theme="dark"] & {
    border: 5px double rgba(255, 255, 255, 0.12);

    }
  }
}
.page-title {
  font-weight: 900;
  line-height: 45px;
  color: var(--primary-bg);
  letter-spacing: 1px;
}
[data-theme="dark"] .page-title {
  color: #fff !important;
}
.chairperson-info {
  .name {
    color: var(--primary-bg);
    font-weight: 600;
  }
  .degnation {
    margin-bottom: 8px;
    color: #666;
  }
  .doc-lable {
    margin-bottom: 20px;
    color: #444;
  }
  .formar-title {
    display: inline-block;
    margin-bottom: 10px;
    // padding: 6px 18px;
    // background: var(--secondary-bg);
    padding-bottom: 3px;
    color: var(--secondary-bg);
    border-bottom: 1px dashed var(--secondary-bg);
    font-weight: 600;
    // border-radius: 4px;
  }
  .formar {
    color: #444;
    margin-bottom: 15px;
    font-weight: 400;

    svg {
      margin-right: 5px;
      color: var(--secondary-bg);
      vertical-align: sub;
    }
  }
}

.bot-members-card-deck {
}
.bot-members-title {
  margin-bottom: 30px;
  color: var(--primary-bg);
  font-weight: 700;
}
.bot-member-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  justify-content: space-between;
  @media screen and (max-width: 575px) {
    align-items: center;
    text-align: center;
  }
}
.bot-member-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  .title {
    color: var(--primary-bg);
    font-size: 1.1rem;
    font-weight: 600;
  }
  .designation {
    color: var(--p-text2);
    font-size: 0.9rem;
  }
  img {
    border: 5px double rgb(28 67 112 / 12%);
    border-radius: 10px;
    transition: all 1s ease-in-out;
    padding: 5px;

    &:hover {
      transform: scale(1.09);
    }
  }
  @media screen and (max-width: 575px) {
    align-items: center;
  }
}
[data-theme="dark"] .name {
  color: #fff !important;
}

[data-theme="dark"] .degnation {
  color: #d2d2d2;
}
[data-theme="dark"] .doc-lable {
  color: #d2d2d2;
}
[data-theme="dark"] .bot-members-title {
  color: #fff !important;
}
[data-theme="dark"] .title {
  color: #fff !important;
}

[data-theme="dark"] .designation {
  color: #d2d2d2;
}
[data-theme="dark"] .bot-member-info {
  img {
    border: 5px double rgba(255, 255, 255, 0.12);
  }
}