.faculty-alumni-section {
  margin: 48px 16px;

  .department-faculty-member-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;

    h1 {
      margin: 0;
    }

    a {
      display: flex;
      align-items: center;
      gap: 5px;
      color: #1c4370;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .alumni-card {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .alumni-image {
      position: relative;
      width: 100%;
      height: 360px;
      overflow: hidden;
      border: 5px solid var(--secondary-bg);
      border-radius: 12px;
      border-style: double;
      img {
        object-fit: cover;
        object-position: top;
        transition: transform 0.6s ease-in-out;
      }
      &:hover img {
        transform: scale(1.1); // Zoom in smoothly
      }
    }
    .alumni-info {
      display: flex;
      flex-direction: column;
      gap: 4px;
      margin-top: 16px;

      h5 {
        margin: 0;
        font-size: 20px;
        color: #aa4a44;
        font-weight: 600;
      }
      p:first-of-type {
        font-size: 16px;
        margin: 0;
        text-align: left !important;
      }
      p:nth-of-type(2) {
        margin: 0;
        font-size: 14px;
        text-align: left !important;
      }
    }
  }
}

/* Modal overlay */
.alumni-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

/* Modal box */
.alumni-modal {
  background: #fff;
  border-radius: 12px;
  width: 75%;
  max-width: 800px;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

[data-theme="dark"] .alumni-modal {
  background: #282f35;
}
/* Header */
.alumni-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  border-bottom: 1px solid #eee;
  background: #fff;
  flex-shrink: 0;
  z-index: 2;

  h2 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    color: var(--black-bg);
  }

  .close-btn {
    border: none;
    background: none;
    font-size: 22px;
    cursor: pointer;
    color: #444;
  }
}

[data-theme="dark"] .alumni-modal-header {
  background: #282f35;

  h2 {
    color: var(--text-normal-color);
  }

  .close-btn {
    color: var(--text-normal-color);
  }
}

/* Body */
.alumni-modal-body {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  .alumni-modal-body-media {
    position: relative;
    width: 140px;
    height: 180px;
    border-radius: 12px;
    overflow: hidden;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  h5 {
    margin: 0;
    font-weight: 500;
    color: var(--black-bg);
  }

  p {
    margin: 0;
    color: var(--p-text);
  }

  .alumni-description {
    margin-top: 16px;
    font-size: 15px;
    line-height: 1.6;
    text-align: left;
    color: #444;
  }
}

.alumni-modal-body-details {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 12px;
  h4,
  p {
    margin: 0;
    color: var(--p-body);
  }
}

[data-theme="dark"] .alumni-modal-body-details {
  h4,
  p {
    margin: 0;
    color: var(--text-normal-color);
  }
}

.alumni-modal-message-body {
  padding: 12px 0px;
  color: var(--p-body);
}

[data-theme="dark"] .alumni-modal-message-body {
  h3,
  h4,
  h5,
  h6,
  P {
    color: var(--text-normal-color) !important;
  }
}
@media screen and (max-width: 767px) {
  .alumni-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
