.program-card-part {
  // background: rgb(28, 67, 112);
  padding: 48px 0;

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
.program-card {
  border-radius: 12px;
  overflow: hidden;
  padding: 24px 16px;
  color: #fff;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between; // puts content at bottom
  min-height: 360px;
  cursor: pointer;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  }
  &:hover .program-card-link  {
    svg{transform: rotate(-45deg);}
  }

  .program-card-icon {
    margin-bottom: 12px;

    svg {
      width: 48px;
      height: 48px;
      color: #fff;
    }
  }

  .program-card-info {
    h2 {
      font-size: 20px;
      margin: 8px 0;
      text-align: left;
    }
  }

  .program-card-link {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    margin-top: 12px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    width: 100%;
    &:hover {
      text-decoration: underline;
    }

    svg {
      margin-left: 4px;
      transition: transform 0.3s, box-shadow 0.3s;
    }
  }
}
