.intro-video-section {
  padding: 64px;
}
.intro-video-header {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-align: center;
}
.intro-video-body {
  max-width: 790px;
  width: 100% !important;
  margin: 0 auto;
}
.sub-title-exception {
  margin: 0;
  text-align: center !important;
}
