.degree-programs-section {
  padding: 40px 0px;
  @media screen and (max-width: 567px) {
    padding: 16px 0px;
  }
  h2 {
    margin-bottom: 24px;
  }

  .degree-tabs {
    display: flex;
    gap: 8px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    margin-bottom: 16px;
    flex-wrap: wrap;
    button {
      padding: 8px 16px;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      color: #1c4370;
      background-color: rgba(28, 67, 112, 0.1);
      transition: background-color 0.3s, color 0.3s;
      &.active {
        background-color: #1c4370;
        color: #fff;
      }
    }
  }

  .degree-program-card {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    height: 120px;
    text-align: center;
    gap: 8px;
    color: #1c4370;
    text-decoration: none;
    background-color: transparent !important; // force no background
    border: 1px solid rgba(28, 67, 112, 0.3); /* softened shade of #1c4370 */
    box-shadow: 0 4px 12px rgba(28, 67, 112, 0.1); /* soft shadow with same color tone */
    transition: transform 0.2s;
    
    &:hover {
      transform: translateY(-4px);
    }

    .icon-wrapper {
      width: 32px;
      height: 32px;
    }
  }
}
[data-theme="dark"] .icon-wrapper {
  color: #fff;
}

[data-theme="dark"] .degree-program-card {
  color: #fff !important;
  border: 1px solid rgba(255, 255, 255, 0.15); // soft white border
}
