.club-news-all-part {
  padding: 48px 0;

  .club-news-all-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    a {
      font-size: 14px;
      font-weight: 500;
      color: var(--primary-bg);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
      transition: all linear 0.3s;

      svg {
        transition: all linear 0.3s;
      }

      &:hover {
        color: var(--secondary-bg);
      }

      &:hover svg {
        transform: rotate(-45deg);
      }
    }
  }

  .club-news-box {
    overflow: hidden;

    &:hover {
      img {
        transform: scale(1.2);
      }
    }

    .club-news-img {
      height: 300px;
      border-radius: 8px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        transition: all linear 0.3s;
      }
    }

    .club-news-icon {
      display: flex;
      gap: 6px;
      align-items: center;
      font-size: 14px;
      padding: 10px 0;
    }

    h2 {
      font-size: 18px;
      font-weight: 500;
      color: var(--primary-bg);
    }

    p {
      font-size: 14px;
      font-weight: 400;
      color: var(--p-text);
    }

    a {
      font-size: 14px;
      font-weight: 500;
      color: var(--primary-bg);
      display: flex;
      align-items: center;
      gap: 6px;
      transition: all linear 0.3s;

      svg {
        transition: all linear 0.3s;
      }

      &:hover {
        color: var(--secondary-bg);
      }

      &:hover svg {
        transform: rotate(-45deg);
      }
    }
  }
}

[data-theme="dark"] .club-news-part {
  background: var(--dark-bg-one);

  .club-news-all-header {
    a {
      color: var(--text-normal-color);

      &:hover {
        color: var(--dark-secondary-bg);
      }
    }
  }

  .club-news-box {
    h2 {
      color: var(--text-normal-color);
    }

    p {
      color: var(--dark-p-text);
    }

    a {
      color: var(--text-normal-color);

      &:hover {
        color: var(--dark-secondary-bg);
      }
    }
  }
}

.common-header {
  text-align: center;
  margin-bottom: 2rem;

  p {
    font-size: 2rem;
    color: var(--text-muted);
    margin-bottom: 0.5rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-primary);
  }
}

[data-theme="dark"] .common-header {
  p {
    color: #cbd5e1; // Light gray
  }

  h2 {
    color: #f8fafc; // Almost white
  }
}
